:root {
  --shadow-dark: 0 5px 2rem rgba(0, 0, 0, 0.3);
  --shadow-dark-2: 0 1px 1rem rgba(0, 0, 0, 0.1);
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --font-color-primary: #3c3b37;
  --font-color-secondary-main: #73726c;
  --font-color-secondary-sub: #949baf;
  --font-color-secondary-sub-sub: #d1d3dc;
  --color-go: #55c57a;
  --color-warning: #ff7730;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  position: relative;
  color: var(--font-color-main);
  line-height: 1.6;
  overflow: auto;
}

section {
  width: 100vw;
}

.container {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.container > * {
  scroll-snap-align: start;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.icon-remove {
  height: 3rem;
  width: 3rem;
}

button:hover {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

.strike {
  font-size: 1.1rem;
  color: var(--font-color-secondary-sub);
}

.u-margin-top-large {
  margin-top: 25rem;
}

.u-margin-top-mid {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 1.75rem;
}

.u-margin-top-v-small {
  margin-top: 0.85rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-margin-left-small {
  margin-left: 0.75rem;
}

.u-margin-btm-large {
  margin-bottom: 25rem;
}

.m-top-btm-2 {
  margin: 2rem 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.border {
  border: solid 1px #dcdacb;
  border-radius: 3px;
}

.border-btm {
  border-bottom: solid 1px #dcdacb;
}

.border-top {
  border-top: solid 1px #dcdacb;
}

.bold {
  font-weight: 700;
}

.rel-pos {
  position: relative;
}

.p-1 {
  padding: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 2rem;
}

.ptb {
  padding: 1rem 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.a {
  color: #007791;
  font-family: "Poppins", sans-serif;
}

.a:hover {
  cursor: pointer;
}

.offer_name {
  font-size: 1rem;
}

.price {
  color: #007791 !important;
}

.green {
  color: #2cb978 !important;
}

.warning {
  color: #ff304f !important;
}

.display-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.badge {
  background-color: #6394f8;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 1;
  padding: 6px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 25px;
}

.item-img {
  width: 6.85rem;
  height: 6.85rem;
}

.shopping-cart {
  background: #efefef none repeat scroll 0 0;
  border: solid 1px #dcdacb;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.7);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  float: right;
  margin: 20px 0;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: -25px;
  display: none;
  max-height: 45rem;
  overflow-y: scroll;
  /* left: 5px; */
  /* position: relative; */
  width: 320px;
}

.shopping-cart:hover {
  cursor: default;
}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header:hover {
  cursor: default;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #6394f8;
  font-size: 12px;
  margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
  color: #abb0be;
  font-size: 13px;
}

.shopping-cart::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee;
  -o-border-image: none;
     border-image: none;
  border-style: solid;
  border-width: 8px;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 89%;
  margin-left: -8px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.cart-icon {
  color: #515783;
  float: left;
  font-size: 24px;
  margin-right: 7px;
}

.button {
  background: #6394f8 none repeat scroll 0 0;
  border-radius: 30px;
  -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
  color: white;
  display: block;
  font-size: 16px;
  margin: 7px 0 7px;
  padding: 12px;
  text-align: center;
}

.button-empty {
  background: #f08a3a;
  -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: block;
  font-size: 13px;
  color: #ffffff;
  padding: 7px 12px;
}

.button-empty:hover {
  cursor: pointer;
}

.button:hover {
  background: #729ef9 none repeat scroll 0 0;
  cursor: pointer;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.heading {
  display: block;
}

.heading__primary {
  display: block;
  color: var(--font-color-primary);
  line-height: 1.2;
}

.heading__primary--main {
  font-weight: 500;
  color: inherit;
  font-size: 3.75rem;
}

.heading__primary--sub {
  font-weight: 500;
  color: inherit;
  font-size: 2.4rem;
}

.heading__secondary {
  display: block;
  height: 10%;
  font-weight: 900;
}

.heading__secondary--main {
  font-size: 1.7rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__secondary--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color-secondary-sub);
}

.heading__secondary--sub-sub {
  display: block;
  font-size: 1.9rem;
  letter-spacing: 1.7;
  font-weight: 400;
  color: var(--font-color-secondary-sub-sub);
}

.heading_main {
  font-size: 2.4rem;
  color: #29303b;
  font-weight: 600;
}

.heading_sub {
  font-size: 1.7rem;
  font-weight: 400;
  color: #505763;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal_container {
  min-height: 50rem;
  width: 100rem;
  margin: auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #dcdacb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.modal--close {
  position: absolute;
  right: 11px;
  top: 10px;
  cursor: pointer;
  z-index: 11;
}

.section-nav {
  min-width: 100vw;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Poppins", sans-serif;
}

.nav {
  width: 550px;
  margin-right: 1rem;
  letter-spacing: 2;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.2rem;
  position: relative;
  max-width: 120rem;
  margin: auto;
  position: relative;
  z-index: 9;
}

.nav-wrapper .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.nav-wrapper .search__input {
  width: 90%;
  padding: 1rem 2rem;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherits;
  outline: none;
}

.nav-wrapper .search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--grey-dark-3);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.nav__list-items {
  list-style: none;
  cursor: pointer;
}

.nav__list-items:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-0.75px);
          transform: translateY(-0.75px);
}

.nav__list-items:hover .nav__links :not(:last-child) {
  border-bottom: 0.3rem var(--color-primary-dark) solid;
}

.nav__list-items:active {
  -webkit-transform: translateY(-0.5px);
          transform: translateY(-0.5px);
}

.nav__links {
  text-decoration: none;
  color: #333333;
}

.nav__links:hover {
  font-weight: 400;
  color: var(--grey-dark-1);
}

.nav__links--cart {
  height: 7rem;
  margin-top: 3.5rem;
}

.nav--4 {
  padding: 1.05rem 2rem;
  border: 0.1rem var(--grey-dark-2) solid;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 1px solid #dcdacb;
}

.nav--4:hover {
  color: #333;
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-dark-2);
          box-shadow: var(--shadow-dark-2);
}

.nav--4:active {
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
}

.nav__icon {
  height: 3rem;
  width: 3rem;
  fill: #1a1a1d;
}

.nav__icon-cart {
  height: 2.75rem;
  width: 2.25rem;
}

.nav__icon-cart--data {
  position: absolute;
  top: -0%;
  right: -50%;
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  border-radius: 2000px;
  background-color: #6394f8;
  color: #fff;
  font-weight: 700;
}

.nav__icon--down {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 5px;
}

.nav__icon--right {
  margin-right: 1.6rem;
}

#cart {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 1.55rem 2rem 1.55rem 0;
  color: var(--font-color-secondary-sub);
  border: none;
  border-bottom: 1.45px solid #99a8bd;
  outline: none;
  font-size: 1.45rem;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem var(--shadow-dark-2);
          box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border-bottom: 1.5px solid var(--color-go);
}

.form__input:focus:invalid {
  border-bottom: 1.5px solid var(--color-warning);
}

.form__input::-webkit-input-placeholder {
  color: var(--font-color-secondary-sub-sub);
  letter-spacing: 1px;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
}

.form-btn {
  background-color: #ed7562;
  color: #fff;
  border: none;
  padding: 1.5rem 8rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 3;
  border-radius: 4px;
  max-width: 35%;
  min-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin-form .form__group,
.signup-form .form__group {
  position: relative;
  margin-top: 1.5rem;
}

.signin-form .form__group--small:last-child,
.signup-form .form__group--small:last-child {
  margin-left: 1rem;
}

.signin-form .form__label,
.signup-form .form__label {
  position: absolute;
  top: 0.95rem;
  left: 2rem;
  font-size: 1.25rem;
  background-color: #fff;
  padding: 0 0.5rem;
  color: var(--font-color-sub);
}

.signin-form .form__input,
.signup-form .form__input {
  width: 30rem;
  padding: 2rem 1.75rem;
  border: 0.5px solid #99a8bd;
  outline: none;
  font-size: 1.45rem;
  border-radius: 7px;
}

.signin-form .form__input:focus,
.signup-form .form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem var(--shadow-dark-2);
          box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border: 0.5px solid var(--color-go);
}

.signin-form .form__input:not(:blank),
.signup-form .form__input:not(:blank) {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem var(--shadow-dark-2);
          box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border: 0.5px solid var(--color-go);
}

.signin-form .form__input:focus:invalid,
.signup-form .form__input:focus:invalid {
  border: 0.5px solid var(--color-warning);
}

.signin-form .form__input::-webkit-input-placeholder,
.signup-form .form__input::-webkit-input-placeholder {
  color: var(--font-color-sub-sub);
}

.address-container-form {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  padding: 25px;
  border: 1px solid #dcdacb;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.category {
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
  height: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.4;
}

.category__link {
  display: block;
  line-height: 32px;
  padding: 0 1.6rem;
  width: 100%;
}

.category .menu-lv-1,
.category .account-menu-lv-1 {
  display: none;
  background-color: #fff;
  padding: 1rem 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #dcdacb;
}

.category .menu-lv-1 ul li,
.category .account-menu-lv-1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category .menu-lv-1 ul li:hover,
.category .account-menu-lv-1 ul li:hover {
  background-color: #efefef;
}

.category:hover > .menu-lv-1 {
  display: block;
  width: 24rem;
  position: absolute;
  top: 7.1rem;
  height: auto;
  overflow: auto;
  color: inherit;
}

.category:hover > .account-menu-lv-1 {
  display: block;
  width: 17rem;
  position: absolute;
  top: 7.1rem;
  right: 0;
  height: auto;
  overflow: auto;
  color: inherit;
}

.tab-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.7rem;
  outline: none;
}

.tab-1 > input {
  display: none;
}

.tab-1 > label {
  display: block;
  float: left;
  padding: 1.4rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 1;
  margin-right: 2px;
  background: #efefef;
}

.tab-content > div {
  opacity: 0;
  z-index: 0;
  display: none;
}

#tab-nav-1:checked ~ .tab-content > div:nth-of-type(1),
#tab-nav-2:checked ~ .tab-content > div:nth-of-type(2),
#tab-nav-3:checked ~ .tab-content > div:nth-of-type(3) {
  opacity: 1;
  z-index: 1;
  display: block;
}

.tab {
  margin-top: 1.7rem;
  position: relative;
}

.tab > input {
  display: none;
}

.tab > label {
  display: block;
  float: left;
  padding: 1.4rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 1;
  margin-right: 2px;
}

.tab-content {
  clear: both;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
  height: 20rem;
}

.tab-content__list {
  max-width: 100%;
  min-height: 5rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #dcdacb;
  padding: 2.4rem;
}

.tab > label:hover,
.tab > input:checked + label {
  background: #efefef;
  font-weight: 500;
}

.section-notification-bar {
  height: 7rem;
  padding: 0.75rem;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: #ffc655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-notification-bar .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-notification-bar .notification--emoji {
  font-size: 1.3rem;
  font-weight: 600;
}

.section-notification-bar .notification--text {
  font-size: 1.4rem;
}

#count-down {
  font-weight: 600;
  font-size: 1.4rem;
}

.icon-cross {
  position: absolute;
  width: 2.5rem;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2.5rem;
}

.icon-cross:hover {
  cursor: pointer;
}

.block-2 span {
  font-size: 1.1rem;
}

.notice-warning {
  color: red;
  font-size: 1.4rem;
  font-family: inherit;
}

.notice-bar {
  max-width: 120rem;
  margin: 2rem auto;
  background-color: #f7f8fa;
  border: 1px solid #dcdacb;
  border-radius: 5px;
  padding: 1.75rem;
  position: relative;
  color: var(--font-color-secondary-main);
}

.notice-bar-danger {
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.notice--text {
  font-size: 1.3rem;
}

.slick-list {
  position: relative;
}

.slick-list-container {
  width: 22.9rem;
  z-index: -999;
  min-height: 29rem;
  border: solid 1px #dcdacb;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.slick-list-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider-details {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.slider-details > * {
  margin-top: 0.5rem;
}

.slider-details:nth-child(3), .slider-details:nth-child(4) {
  display: block;
}

.slider-details--name {
  font-size: 1.6rem;
  letter-spacing: 0;
}

.slider-details--discription {
  width: 20rem;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--font-color-secondary-sub);
}

.slider-details--price {
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #007791;
}

.slider-details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-icon-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  border: none;
  padding: 1rem;
}

.slider-icon-wrap:hover {
  background-color: #efefef;
}

.slider-icon-cart {
  height: 2rem;
  width: 2rem;
  fill: #007791;
}

.carousel {
  margin-top: 1rem;
  display: block;
}

.carousel .slider-img {
  width: 100%;
  height: 18rem;
}

.carousel-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slick-list {
  padding: 2rem;
}

.badge-popular {
  display: inline;
  padding: 0.25rem 0.75rem;
  background-color: #f4c150;
  font-weight: 600;
}

.badge-out-of-stock {
  display: inline;
  padding: 0.25rem 0.75rem;
  background-color: #f08a3a;
  font-size: 0.95rem;
  font-weight: 600;
}

.badge-blue {
  background-color: #6394f8;
  color: #fff;
  display: inline;
  padding: 0.25rem 0.75rem;
  font-size: 0.95rem;
  font-weight: 600;
}

.badge-green {
  display: inline;
  padding: 0.25rem 0.75rem;
  color: #fff;
  background-color: #28a745;
  font-size: 0.95rem;
  font-weight: 600;
}

.btn-remove {
  border: none;
  background-color: #efefef;
  float: right;
  position: absolute;
  top: 20%;
  right: 0%;
  outline: none;
}

.btn-remove:hover {
  cursor: pointer;
}

.btn-remove:hover > * {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn-cart {
  background-color: #ed7562;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 1.2rem 3.2rem;
  margin: 0rem 0.3rem 0.3rem 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
}

.btn-cart:active {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.btn-cart-small {
  width: 15rem;
}

.btn-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.btn-v-sm {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 15px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
}

.btn-danger {
  color: #fff;
  background-color: #a0302a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b33630), color-stop(90%, #dc5f59));
  background-image: linear-gradient(-180deg, #b33630, #dc5f59 90%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-file {
  color: #333333;
  background-color: #b8b8b8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(90%, #b8b8b8));
  background-image: linear-gradient(-180deg, #ffffff, #b8b8b8 90%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
}

.swappy-radios label {
  display: block;
  position: relative;
  padding-left: 4rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
}

.swappy-radios label:hover input ~ .radio {
  opacity: 0.8;
}

.swappy-radios .radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.swappy-radios .radio-input:checked ~ span {
  color: #007791;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.swappy-radios .radio-input:checked ~ .radio {
  background-color: #007791;
  opacity: 1 !important;
}

.swappy-radios .radio-input:checked ~ .radio::after {
  opacity: 1;
}

.swappy-radios .radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: #c9ded6;
  border-radius: 50%;
}

.swappy-radios .radio::after {
  display: block;
  content: '';
  position: absolute;
  opacity: 0;
  top: .5rem;
  left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
}

.section-testimonial {
  width: 100vw;
  min-height: 35rem;
  background-color: #f7f7f7;
}

.testimonials {
  text-align: center;
  color: #666;
  max-width: 120rem;
  padding: 5rem 0;
  border-top: 1px solid #dcdacb;
  margin: 7rem auto 0 auto;
}

.test-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.test-body .item {
  max-width: 30rem;
  border: 1px solid #dcdacb;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 5px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  padding: 3rem 1rem;
}

.test-body .item p {
  text-align: justify;
  font-size: 1.3rem;
}

.testimonials .test-body {
  padding: 1em;
}

.testimonials .item {
  text-align: center;
}

.testimonials img {
  width: 4.8em;
  height: 4.8em;
  border-radius: 50%;
  opacity: 0.75;
}

.testimonials .name {
  color: #007791;
  font-weight: 700;
  font-size: 1.3rem;
}

.testimonials .desig {
  font-size: 0.7em;
  font-weight: 300;
  font-size: 1.3rem;
  color: #007791;
}

.testimonials .share {
  margin: 0 auto;
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testimonials i {
  color: #bfbfbf;
  padding: 0.5em 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.testimonials i:hover {
  color: blue;
}

.testimonials p {
  font-size: 0.8em;
}

.testimonials button {
  font-size: 1em;
  border: none;
  border-bottom: 3px solid #007791;
  color: #333;
  padding: 0.8em 2em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.testimonials button:hover {
  background-color: #fafafa;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.testimonial__icon {
  height: 2rem;
  width: 2rem;
  fill: #ed7562;
}

@media (min-width: 38.4rem) {
  .testimonials {
    font-size: 1.2em;
  }
  .testimonials .test-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials p {
    text-align: left;
    padding: 1em;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 1rem;
  max-width: 120rem;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: solid 1px #dcdacb;
}

.breadcrumb:hover {
  color: #007791;
}

.breadcrumb-icon {
  height: 1.78rem;
  width: 1.78rem;
  fill: #007791;
}

.breadcrumb--links {
  padding: 0.1rem 0.75rem;
  color: #007791;
}

.check-rate {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 10rem;
}

.check-rate-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.check-rate .right-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

.contactus {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 10rem;
}

.contactus-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contactus .right-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

.contactus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  position: relative;
}

.contactus .left-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contactus-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 50rem;
}

.modal-signin-container {
  min-width: 30rem;
  min-height: 30rem;
  max-height: 50rem;
  max-width: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.modal-signin .signin {
  padding: 5rem;
}

.modal-signup-container {
  min-width: 30rem;
  min-height: 30rem;
  max-width: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.modal-signup .signup {
  padding: 5rem;
}

.section-product {
  max-width: 120rem;
  margin: auto;
}

.section-product .headline__sub {
  margin-top: 0.7rem;
}

.topics-container {
  max-width: 120rem;
  margin: 4rem auto;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0 4rem 0;
}

.topic-box {
  padding: 1.5rem;
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  color: #505763;
  font-size: 1.4rem;
  height: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1px;
}

.topic-box:not(:last-child) {
  margin-right: 4rem;
}

.topic-box:hover {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0 0 10px 2px rgba(20, 23, 28, 0.2), 0 3px 1px 0 rgba(20, 23, 28, 0.2);
          box-shadow: 0 0 10px 2px rgba(20, 23, 28, 0.2), 0 3px 1px 0 rgba(20, 23, 28, 0.2);
}

.topic-box-img {
  width: 3rem;
  height: 3rem;
  border-radius: 200px;
  opacity: 0.75;
  margin-right: 1.5rem;
}

.topic-box-text-sm {
  font-size: 1.1rem;
  margin-left: 1.5rem;
  color: var(--font-color-secondary-sub-sub);
}

@media (min-width: 768px) {
  .topic-box {
    -ms-flex-preferred-size: calc(100% / 5 - 10px);
        flex-basis: calc(100% / 5 - 10px);
  }
}

.header {
  max-width: 120rem;
  margin: auto auto 1.5rem auto;
  height: auto;
  height: 36.6rem;
  background-image: url("../imgs/bg-img-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.header .board {
  background-color: #fff;
  max-width: 44rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #dcdacb;
  position: absolute;
  left: 4.8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 2.4rem;
  line-height: 1.15;
  z-index: 9999;
}

.header_form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  outline: none;
  font-size: 1.45rem;
  padding: 1.2rem 1rem;
  font-family: inherit;
  color: var(--font-color-secondary-sub);
}

.header_btn {
  outline: none;
  width: 5rem !important;
  height: auto;
  padding: 1rem 1.35rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0;
}

.header_btn:hover {
  cursor: pointer;
}

.section-product {
  min-height: 25rem;
  margin: auto auto 5rem auto;
}

.section-other {
  margin-bottom: 25rem;
}

.section-footer {
  width: 100%;
  border-top: 1px solid #dcdacb;
}

.footer-container {
  min-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container .grid ul {
  font-size: 1.3rem;
}

.footer-container .grid ul li {
  padding: 0.3rem;
  letter-spacing: 0;
  color: #007791;
}

.footer-container .grid ul a {
  color: #007791;
}

.footer-container .grid ul a:hover {
  border-bottom: 1px solid #007791;
}

.footer-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form > * {
  outline: none;
}

.footer-input {
  padding: 1rem 1.35rem;
  font-size: 1.4rem;
}

.footer-btn {
  padding: 1rem 1.35rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0;
}

.footer-btn:hover {
  cursor: pointer;
}

.footer-icon {
  height: 3rem;
  fill: #007791;
  width: 3rem;
  margin-right: 0.25rem;
}

.footer-icon--gmail {
  height: 2rem;
  width: 2rem;
}

.footer-icon--flag {
  height: 2rem;
  width: 2rem;
}

.copyrights {
  width: 100%;
  border-top: 1px solid #dcdacb;
  padding: 0.75rem 0.5rem 1.5rem 0.5rem;
}

.copyrights-container {
  width: 120rem;
  margin: auto;
  padding: 1rem 0.5rem;
  letter-spacing: 0.2;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrights .grid-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--font-color-secondary-sub);
}

.copyrights a {
  font-weight: 500;
  padding: 0.2rem 1.25rem;
}

.copyrights a:hover {
  padding: 0.2rem 1.25rem;
  border-bottom: 1px solid #dcdacb;
}

.copyrights a:not(:last-child) {
  border-right: 1px solid #dcdacb;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-account {
  max-width: 100rem;
  margin: auto;
}

.section-account .account-container {
  max-width: 100rem;
  margin: auto;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-account .account-container .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-right: 2rem;
  padding: 4rem 0;
}

.section-account .account-container .col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  padding: 1rem 2rem;
}

.profile-box {
  position: relative;
}

.profile-btn {
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
}

.profile-pic {
  width: 25rem;
  height: auto;
  border-radius: 3px;
}

.profile-tabs {
  font-size: 1.4rem;
}

.profile-tabs > * {
  padding: 0.65rem;
  width: 100%;
}

.profile-tabs a {
  color: #007791;
}

.profile-tabs a:hover {
  font-weight: 600;
}

.overview-container {
  width: 100%;
  border: 1px solid #dcdacb;
  border-radius: 3px;
  padding: 1rem 2rem;
}

.profile-form .form__group {
  padding: 1rem;
}

.profile-form-input {
  padding: 0.5rem 1rem;
  outline: none;
  color: var(--font-color-secondary-sub);
  font-size: 1.3rem;
  width: 25rem;
}

.profile-form-input::-webkit-input-placeholder {
  color: var(--font-color-secondary-sub);
  letter-spacing: 1px;
}

.profile_label {
  color: var(--font-color-primary);
  font-size: 1.3rem;
  font-weight: 600;
}

th {
  text-align: left !important;
  color: #333;
  padding-right: 3rem;
  font-size: 1.4rem;
}

td {
  padding: 0.5rem;
}

.heading-name {
  font-size: 1.4rem;
  color: #333;
}

.heading-email {
  font-size: 1rem;
  color: var(--font-color-secondary-sub);
}

.account-message {
  color: var(--font-color-secondary-sub);
  font-size: 1.2rem;
  font-weight: 600;
}

.heading-bold {
  font-weight: 700 !important;
}

.setting {
  padding-bottom: 2rem;
}

.delivery_table {
  width: 100%;
  border-spacing: 0px;
}

.delivery_table-th {
  color: var(--font-color-primary);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.delivery_table-td {
  color: var(--font-color-secondary-sub);
}

.delivery-address-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-table {
  font-size: 0.8rem;
  font-family: "Open Sans", Serif;
  text-align: left;
  color: #999999;
  border-bottom: 3px double #cccccc;
  border-collapse: collapse;
  width: 100%;
}

.default-table .numeric {
  text-align: right;
}

.default-table th,
.default-table td {
  padding: 0.7rem;
}

.default-table th:first-child, .default-table th:last-child,
.default-table td:first-child,
.default-table td:last-child {
  border-left: 0;
  border-right: 0;
}

.default-table th.green,
.default-table td.green {
  color: #2e9315;
}

.default-table th.red,
.default-table td.red {
  color: #d6345f;
}

.default-table th.blue,
.default-table td.blue {
  color: #3882bf;
}

.default-table thead th {
  color: var(--font-color-primary);
  font-size: 1.1rem;
  border-bottom: 3px double #cccccc;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.default-table tbody tr td {
  border: 1px solid #e6e6e6;
  color: var(--font-color-secondary-sub);
  font-size: 1rem;
}

.default-table tbody tr td:first-child, .default-table tbody tr td:last-child {
  border-left: 0;
  border-right: 0;
}

.default-table tbody tr td:nth-child(6) {
  background-color: #f7fafd;
}

.default-table tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}

.default-table tbody tr:hover td {
  background-color: #b3cbda;
  cursor: pointer;
  color: white;
}

.default-table tfoot {
  border-top: 3px double #cccccc;
  color: #757575;
  font-weight: bold;
  background-color: #f0f8fc;
}

.default-table tfoot tr .numeric {
  font-size: 1rem;
}

.default-table tfoot td {
  border-bottom: 1px solid #e6e6e6;
}

.default-table tfoot tr:first-child td:nth-child(2) {
  border-right: 1px solid #e6e6e6;
}

.section-view-product {
  margin: 2rem 0 2rem 0;
}

.view-product-container {
  max-width: 120rem;
  margin: auto;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.view-product-container .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-right: 2rem;
  -webkit-box-flex: none;
      -ms-flex-positive: none;
          flex-grow: none;
}

.view-product-container .col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  overflow-y: auto;
}

.product-img {
  width: 40rem;
  border-radius: 3px;
  height: auto;
}

.product-heading {
  font-size: 3rem;
  line-height: normal;
  padding-bottom: 0.75rem;
}

.product-description {
  font-size: 1.4rem;
  color: var(--font-color-secondary-sub);
  text-align: justify;
}

.product-price {
  font-size: 3.6rem;
  color: #007791;
  font-weight: 600;
}

.product-per {
  font-size: 1.4rem;
  color: #505763;
}

input,
textarea {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.section-checkout {
  margin: 2rem 0 2rem 0;
  min-height: 50vh;
}

.checkout-container {
  max-width: 100rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.checkout-container .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 7rem;
}

.checkout-container .col-2 {
  min-width: 45%;
}

.checkout-container .col-2-ul {
  max-height: 36rem;
  overflow-y: auto;
}

.checkout-container .col-2-wrapper {
  border: 1px solid #dcdacb;
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  padding: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.checkout-container .heading-summary {
  padding-bottom: 1.6rem;
}

.checkout-container .item-wrap {
  position: relative;
  border: 1px solid #dcdacb;
  border-radius: 3px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 9rem;
  min-height: 1rem;
}

.checkout-container .item-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-container .item-details-wrap {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-container .item-product-name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 2rem;
  display: block;
}

.checkout-container .item-product-price {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #007791;
}

.checkout-container .item-product-category {
  margin-left: 1rem;
  font-size: 1rem;
  color: #686f7a;
}

.checkout-container .item-product-empty {
  color: var(--font-color-secondary-sub);
  font-size: 1.4rem;
}

.checkout-container .item-icon-remove {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -9%;
  border: none;
  float: right;
  outline: none;
  height: 3rem;
  width: 3rem;
}

.checkout-container .item-icon-remove:hover {
  cursor: pointer;
}

.checkout-container .item-icon-remove:hover > * {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shipping-head {
  font-size: 1.3rem;
  color: #111;
}

.shipping-text {
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0;
}

.shipping-head {
  font-size: 1.3rem;
}

.button-minus-summary {
  height: 3.5rem !important;
  width: 3.5rem !important;
}

.quantity-field-summary {
  height: 3.5rem !important;
  width: 4rem !important;
}

.section-checkout-details {
  padding: 1rem 0;
}

.details-td {
  font-size: 1.5rem;
  color: #007791;
  font-weight: 700;
}

.details-th {
  color: var(--font-color-secondary-sub);
  padding: 0px 3px;
  font-size: 1.2rem;
  font-weight: 300;
}

.section-collection {
  width: 100%;
  border-left: solid 1px #dcdacb;
}

.collection-container {
  min-height: 80vh;
  max-width: 122rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
  font-size: 1.3rem;
  line-height: 1.4;
  padding: 2rem 1.6rem;
  letter-spacing: 0px;
  height: auto;
}

.side-nav--links {
  color: #007791;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0 0.5rem 1.75rem;
}

.side-nav--links:hover {
  background-color: #efefef;
}

.side-nav--links-light {
  color: #589faf;
}

.side-nav--head {
  padding: 0.5rem 0 0.5rem 1.75rem;
  color: #007791;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.section-payment {
  background-color: #fafafa;
  border-top: 1px solid #dcdacb;
  min-height: 60vh;
}

.payment-container {
  max-width: 60rem;
  margin: 2rem auto;
  min-height: 30rem;
  background-color: #fff;
  border: 1px solid #dcdacb;
  padding: 0 3rem 3rem 3rem;
}

.payment-header {
  width: 100%;
  border-bottom: 1px solid #dcdacb;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-heading-main {
  font-size: 3rem;
  color: #2a9c60;
}

.payment-heading-sub {
  font-weight: 300;
  font-size: 1.15rem;
  color: var(--font-color-secondary-sub);
}

.payment-heading-box {
  margin-left: 1rem;
}

.bill-table-box {
  padding: 2rem 0rem;
  width: 60%;
  font-size: 1.15rem;
}

.bill-table-box-2 {
  padding: 2rem 0;
  width: 100%;
}

.bill-table-th {
  font-size: 1.15rem;
  letter-spacing: 0;
  width: 1px;
  color: var(--font-color-secondary-main);
}

.br {
  border-top: 1px solid #dcdacb;
  width: 100%;
}

.section-set-address {
  border-top: 1px solid #dcdacb;
  min-height: 50vh;
}

.set-address-container {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0 3rem 3rem 3rem;
}

.section-best_products {
  max-width: 120rem;
  margin: auto;
}
