[data-scroll] {
  transition: all 1s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.display-none {
  display: none;
}

.u-margin-top-mid {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 1.75rem;
}

.dot {
  font-size: 7rem;
  margin-top: -3.5rem;
  margin-left: 2rem;
}

.flex-inline {
  display: flex;
  justify-content: space-between;
}

.text--black {
  color: #333 !important;
}

.abs-position {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rel-position {
  position: relative;
}

:root {
  --shadow-dark: 0 5px 2rem rgba(0, 0, 0, 0.3);
  --shadow-dark-2: 0 1px 1rem rgba(0, 0, 0, 0.1);
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --font-color-main: #172551;
  --font-color-sub: #949BAF;
  --font-color-sub-sub: #D1D3DC;
  --color-go: #55c57a;
  --color-warning: #ff7730;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  position: relative;
  color: var(--font-color-main);
  line-height: 1.6;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.container section {
  scroll-snap-align: start;
}

.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  position: relative;
  max-width: 120rem;
  margin: auto;
  position: relative;
  z-index: 9;
}

.nav {
  width: 450px;
  margin-right: 1rem;
  letter-spacing: 2;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.25s ease;
}

.nav__list-items {
  list-style: none;
  cursor: pointer;
}

.nav__list-items:hover {
  transition: all 0.25s ease;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__list-items:hover .nav__links :not(:last-child) {
  border-bottom: 0.3rem var(--color-primary-dark) solid;
}

.nav__list-items:active {
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.nav__links {
  text-decoration: none;
  color: #ffffff;
}

.nav__links:hover {
  font-weight: 600;
  color: var(--grey-dark-1);
}

.nav--4 {
  padding: 1.25rem 2.5rem;
  border: 0.1rem var(--grey-dark-2) solid;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.nav--4:hover {
  color: #333;
  background-color: #fff;
  box-shadow: var(--shadow-dark);
}

.nav--4:active {
  box-shadow: var(--shadow-light);
}

.nav__icon {
  height: 1.55rem;
  width: 1.55rem;
  margin-right: 3px;
  fill: #1a1a1d;
}

.notification {
  padding: 1.5rem;
  background-color: #f2cc8c;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1;
  font-size: 1.75rem;
  width: 100%;
  display: flex;
  position: relative;
}

.notification--text {
  margin-left: 3rem;
  font-weight: 600;
  color: #333;
}

.notification--close-btn {
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.notification .lnr-cross {
  cursor: pointer;
  font-size: 2rem;
}

.notification .lnr-cross:hover {
  font-size: 2.5rem;
}

.heading-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.heading__primary {
  display: block;
  color: #fefefe;
  text-align: center;
}

.heading__primary--main {
  font-size: 7rem;
  font-weight: 600;
}

.heading__primary--sub {
  text-align: center;
  font-size: 1.45rem;
}

.heading__secondary {
  display: block;
  color: #172551;
  height: 10%;
}

.heading__secondary--main {
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.heading__secondary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}

.heading__secondary--sub-sub {
  display: block;
  font-size: 1.75rem;
  letter-spacing: 1.7;
  font-weight: 700;
  color: var(--font-color-sub-sub);
}

.btn {
  border: none;
  outline: none;
  transition: all 0.25s ease;
  box-shadow: var(--shadow-light);
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: var(--shadow-dark);
  cursor: pointer;
}

.btn:active {
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
  box-shadow: var(--shadow-dark-2);
}

.btn--main {
  padding: 1.25rem 4.5rem;
  background-color: #fff;
  color: var(--font-color-main);
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: inherit;
  border-radius: 0.75rem;
  margin-top: 2rem;
}

.btn--sub {
  padding: 1.25rem 3rem;
  background-color: #ffffff;
  color: var(--grey-dark-2);
  font-size: 2rem;
  font-weight: 100;
  font-family: inherit;
  letter-spacing: inherit;
  border-radius: 10rem;
}

.down-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #333;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #333333;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.form__input {
  width: 100%;
  padding: 2rem 1.75rem;
  border: 0.5px solid var(--font-color-sub-sub);
  outline: none;
  font-size: 1.45rem;
  border-radius: 7px;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border: 0.5px solid var(--color-go);
}

.form__input:not(:blank) {
  outline: none;
  box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border: 0.5px solid var(--color-go);
}

.form__input:focus:invalid {
  border: 0.5px solid var(--color-warning);
}

.form__input::-webkit-input-placeholder {
  color: var(--font-color-sub-sub);
}

.form__group {
  position: relative;
  margin-top: 1.5rem;
}

.form__group--small:last-child {
  margin-left: 1rem;
}

.form__label {
  position: absolute;
  top: 0.95rem;
  left: 2rem;
  font-size: 1.25rem;
  background-color: #fff;
  padding: 0 0.5rem;
  color: var(--font-color-sub);
}

.card {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin-top: 3.5rem;
  transition: all 0.2s;
}

.card:hover {
  cursor: pointer;
  margin-top: 3rem;
}

.card:hover .view__details {
  margin-top: -2px;
  z-index: 2;
}

.card__product {
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__stats {
  display: block;
  background-color: #f4f6f8;
  padding: 2rem;
}

.card__img {
  height: 30rem;
  width: 30rem;
  position: relative;
  z-index: 1;
}

.card .row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view__details {
  transition: all 0.2s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  z-index: 0;
}

.product__name {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.product__price {
  font-size: 2.35rem;
  color: #48cfad;
}

.product__size {
  font-size: 2rem;
}

.product__size--label {
  color: #48cfad;
}

.container-signup {
  min-height: 100vh;
  width: 100%;
  max-width: 125rem;
  margin: auto;
  display: flex;
  align-items: center;
}

.container-signup .col-1 {
  min-width: 40rem;
  margin-left: 3rem;
}

.container-signup .col-2 {
  margin-left: 9rem;
}

.container-signup .login-img {
  height: 80vh;
}

.header {
  background-image: url("../../img/header-background.svg");
  background-size: cover;
  background-position: center bottom;
  height: 90vh;
  position: relative;
}

.rate,
.contact {
  display: flex;
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rate .col-1-img,
.contact .col-1-img {
  height: 60rem;
}

.rate .col-2,
.contact .col-2 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 40%;
  height: 90%;
}

.rate__form,
.contact__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rate__form__label,
.contact__form__label {
  display: block;
  font-size: 1.35rem;
}

.rate__form__input,
.contact__form__input {
  font-size: 1.75rem;
  font-family: inherit;
  color: var(--font-color-sub);
  padding: 1.25rem 2rem 1.25rem 0;
  border-radius: 2px;
  border: none;
  border-bottom: 1.45px solid #99A8BD;
  outline: none;
  width: 90%;
}

.rate__form__input:focus,
.contact__form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem var(--shadow-dark-2);
  border-bottom: 1.5px solid var(--color-go);
}

.rate__form__input:focus:invalid,
.contact__form__input:focus:invalid {
  border-bottom: 1.5px solid var(--color-warning);
}

.rate__form__input::-webkit-input-placeholder,
.contact__form__input::-webkit-input-placeholder {
  color: var(--font-color-sub);
}

.rate__form__input:placeholder-shown + .rate__form__label,
.contact__form__input:placeholder-shown + .rate__form__label, .rate__form__input:placeholder-shown +
.contact__form__label,
.contact__form__input:placeholder-shown +
.contact__form__label {
  opacity: 0;
  visibility: hidden;
}

.rate__form__textarea,
.contact__form__textarea {
  font-size: 1.75rem;
  font-family: inherit;
  color: var(--font-color-sub);
  padding: 1rem;
}

.rate__form-btn,
.contact__form-btn {
  background-color: #ED7562;
  color: #fff;
  padding: 1.5rem 8rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 3;
  border-radius: 4px;
  max-width: 35%;
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14rem 0;
  max-width: 120rem;
  margin: auto;
}

.contact-us .col-1 {
  margin-left: 10rem;
  min-width: 35%;
  max-width: 60%;
}

.contact-us .col-2-img {
  height: 55rem;
}

.footer {
  background-color: var(--grey-dark-1);
  color: var(--grey-light-2);
  padding: 7rem 0rem 3rem 0rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer-container {
  max-width: 120rem;
  margin: auto;
}

.footer__logo {
  font-size: 3rem;
  text-align: center;
}

.footer__heading {
  font-size: 2rem;
  padding: 1rem 1rem 0.5rem 0;
  border-bottom: 0.5px var(--grey-light-2) solid;
}

.footer__heading__caption {
  color: #77787B;
}

.footer__links {
  margin-top: 12rem;
  font-weight: 600;
  color: inherit !important;
}

.footer__grid {
  display: flex;
  justify-content: space-around;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 0rem .5rem;
  list-style: none;
}

.footer__menu li:not(:first-child) {
  margin-top: 1rem;
}

.footer__form {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
  flex-wrap: no-wrap;
}

.footer__input-box {
  font-size: 1.6rem;
  padding: 1rem;
  font-family: inherit;
  width: 30rem;
}

.footer__btn {
  margin-left: 5px;
  padding: 1rem;
  color: #ffffff;
  font-weight: 500;
  background-color: #C8543B;
  border: none;
  cursor: pointer;
}

.footer .contact {
  display: flex;
  flex-direction: row;
}

.footer .contact__no {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.footer .lnr-phone-handset {
  color: #ffffff;
  font-size: 40px;
  /* To get crisp results, use sizes that are
        a multiple of 20; because Linearicons was
        designed on a 20 by 20 grid. */
}

.footer__devs {
  margin-top: 7rem;
  font-size: 1rem;
  text-align: center;
  color: #77787B;
  letter-spacing: 1.5;
}

.footer__devs-name {
  color: #b6b9c0;
}
