.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14rem 0;
    @include margin-to-center;

    .col-1 {
        margin-left: 10rem;
        min-width: 35%;
        max-width: 60%;
    }

    .col-2 {
        // width: 60%;

        &-img {
            height: 55rem;
        }
    }
}