.header {
    background-image: url("../../img/header-background.svg");
    // background-color: #FCEFEF;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    position: relative;

    // width: 120%;
}