.modal-signin {
  &-container {
    min-width: 30rem;
    min-height: 30rem;
    max-height: 50rem;
    max-width: 100rem;
    margin: auto;
    display: flex;
    // display: hidden;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
  }
  .signin {
    padding: 5rem;
  }
}
