.modal-signup {
     &-container {
          min-width: 30rem;
          min-height: 30rem;
          //   max-height: 50rem;
          max-width: 50rem;
          margin: auto;
          display: flex;
          justify-content: center;
          // display: hidden;
          background-color: #fff;
          border-radius: 5px;
          position: relative;
     }
     .signup {
          padding: 5rem;
     }
}
