.rate,
.contact {
    display: flex;
    @include margin-to-center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .col-1 {
        &-img {
            height: 60rem;
            // font-size: 30rem;
        }
    }

    .col-2 {
        align-self: center;
        justify-self: center;
        width: 40%;
        height: 90%;
        // min-height: 100%;
    }

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__label {
            display: block;
            font-size: 1.35rem;
        }

        &__input {
            font-size: 1.75rem;
            font-family: inherit;
            color: var(--font-color-sub);
            padding: 1.25rem 2rem 1.25rem 0;
            border-radius: 2px;
            border: none;
            border-bottom: 1.45px solid #99A8BD;
            outline: none;
            width: 90%;

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem var(--shadow-dark-2);
                border-bottom: 1.5px solid var(--color-go);
            }

            &:focus:invalid {
                border-bottom: 1.5px solid var(--color-warning);
            }

            &::-webkit-input-placeholder {
                color: var(--font-color-sub);
            }
        }

        &__input:placeholder-shown+&__label {
            opacity: 0;
            visibility: hidden;
        }

        &__textarea {
            font-size: 1.75rem;
            font-family: inherit;
            color: var(--font-color-sub);
            padding: 1rem;
        }

        &-btn {
            background-color: #ED7562;
            color: #fff;
            padding: 1.5rem 8rem;
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: 3;
            border-radius: 4px;
            max-width: 35%;
            min-width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}