@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --card-color-1: #00C0EF;
  --card-color-2: #00A65A;
  --card-color-3: #DD4C39;
  --card-color-4: #F39C11;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

:root {
  --bg-color-body: #364f6b;
  --bg-color-sidebar: #304861;
  --bg-color-nav-items: #4c6783;
  --bg-color-card: #2e455f;
  --font-color-main: #43dde6;
  --font-color-sub: #ffffff;
  --font-color-sub-sub: #d1d3dc;
  --btn-color-main: #fc5185;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow: hidden;
  color: var(--grey-dark-2);
  min-height: 100vh;
}

.container {
  overflow: hidden;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
  margin-right: 0.5rem;
}

.icon-big {
  height: 3rem;
  width: 3rem;
  fill: #ffffff;
}

@-webkit-keyframes moveLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes moveLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.6rem;
  color: #ffffff;
}

.cards .card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.6rem;
  min-width: 15rem;
  max-width: 25rem;
  border-radius: 3px;
  height: 10rem;
  margin: 0rem 1rem 3rem 0rem;
  background-color: var(--bg-color-card);
}

.cards .card_title {
  padding: 0.3px;
  border-bottom: 0.3px solid #426388;
}

.cards .card-group {
  width: 100%;
  height: 100%;
  padding: 1.25rem 0.24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card-icon {
  margin-right: 2rem;
}

.cards .card-data {
  margin-top: -1rem;
  font-size: 3.2rem;
}

.cards .card-data-1 {
  color: #54bdf8;
}

.cards .card-data-2 {
  color: #55b052;
}

.cards .card-data-3 {
  color: coral;
}

.notices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 6rem;
  font-size: 1.7rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notices span {
  min-width: 20rem;
}

.logo {
  height: 3rem;
  margin-left: 1.75rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherits;
  background-color: var(--grey-light-1);
  width: 90%;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  margin-right: -2.75rem;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--grey-light-4);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--grey-light-5);
}

.search__input:focus + .search__btn {
  background-color: var(--grey-light-4);
}

.search__btn {
  border: none;
  background-color: var(--grey-light-1);
  cursor: pointer;
}

.search__btn:focus {
  outline: none;
}

.search__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--grey-dark-3);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  padding: 0 1.5rem;
  cursor: pointer;
  height: 100%;
}

.user-nav__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #ffffff;
}

.user-nav__notification {
  background-color: var(--color-primary);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 55%;
  font-weight: 700;
  font-size: 1.1rem;
}

.user-nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 100%;
}

.user-nav__user-name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--grey-dark-1);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  margin-top: 3.5rem;
}

.nav__item {
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  background-color: var(--bg-color-body);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav__item:hover::before, .nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.nav__links:link, .nav__links:visited {
  position: relative;
  z-index: 9;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--grey-light-2);
  margin-right: 2rem;
}

.nav__text {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--grey-light-2);
}

.heading {
  display: block;
  color: var(--font-color-sub);
  padding: 3rem 0rem;
  font-weight: 800;
}

.heading__primary--main {
  font-size: 3rem;
}

.heading__primary--sub {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color-sub-sub);
}

.heading__secondary {
  display: block;
  height: 10%;
  font-weight: 900;
}

.heading__secondary--main {
  font-size: 1.7rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__secondary--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color-secondary-sub);
}

.heading__secondary--sub-sub {
  display: block;
  font-size: 1.9rem;
  letter-spacing: 1.7;
  font-weight: 400;
  color: var(--font-color-secondary-sub-sub);
}

.canvas {
  padding: 4.5rem;
  background-color: var(--bg-color-card);
  border-radius: 10px;
  margin-top: 1.25rem;
}

.canvas__line {
  min-height: 30rem;
  max-width: 65rem;
  min-width: 65rem;
}

.canvas__doughnut {
  min-height: 30rem;
  max-width: 65rem;
  min-width: 65rem;
}

.myChart {
  max-height: 35rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.button {
  background-color: #dd4674;
  color: #ffffff;
  padding: 1.2rem 1.5rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 3px;
  margin-right: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button:hover {
  background-color: #dd4674;
}

.button_load {
  padding: 1rem 1.2rem;
}

.button-small {
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
}

.product_table {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 0 8em 0; */
}

.product-list {
  max-width: 145rem;
  margin: auto;
  margin: 3rem 0;
}

.product_table tr:nth-child(odd) {
  background-color: var(--bg-color-card);
}

.product_table tr:nth-child(even) {
  background-color: #293f57;
}

.product_table tr td,
.product_table th {
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

.product_table th {
  padding: 1.3rem;
}

.product_table th {
  background-color: #2c3446;
  font-size: 16px;
}

.table_row-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

.input-product-category {
  position: absolute;
  padding: 1.3rem;
  margin-left: 5rem;
  width: 100%;
  height: 2.5rem;
}

.table-img {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
}

.table-icon-pencil {
  fill: #00ab66;
  margin-right: 2rem;
}

.form-box {
  color: #fff;
  z-index: 999;
  position: absolute;
  top: 10%;
  right: 0;
  min-width: 10rem;
  max-width: 35rem;
  background-color: var(--bg-color-sidebar);
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.form-box-error {
  display: block;
  border-left: 1.25rem solid #cc3300;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 5px 0 0 5px;
}

.form-box-success {
  border-left: 1.25rem solid #99cc33;
  border-top: 1px solid #99cc33;
  border-bottom: 1px solid #99cc33;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  border-radius: 5px 0 0 5px;
}

.form-box .popup-code {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
  text-align: left;
  border-bottom: 0.3px solid #1b2a3a;
  padding: 1rem;
}

.form-box .popup-message {
  font-size: 1.4rem;
  padding: 1rem;
}

.message-animate {
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.container {
  height: 100vh;
  background-color: var(--grey-light-1);
}

.header {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color-sidebar);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrapper {
  margin: 0rem 7rem;
}

.sidebar {
  background-color: var(--bg-color-sidebar);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.hotel-view {
  background-color: var(--bg-color-body);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  height: 93.5vh;
}

.footer {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2rem;
}

.add-item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 10rem;
}

.add-item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.add-item .right-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
}

.row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-signin {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-signin:hover .top:before, .container-signin:hover .top:after,
.container-signin:hover .bottom:before,
.container-signin:hover .bottom:after, .container-signin:active .top:before, .container-signin:active .top:after,
.container-signin:active .bottom:before,
.container-signin:active .bottom:after {
  margin-left: 200px;
  -webkit-transform-origin: -200px 50%;
          transform-origin: -200px 50%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.container-signin:hover .center, .container-signin:active .center {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.top:before, .top:after,
.bottom:before,
.bottom:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.top:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #e46569;
}

.top:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: #ecaf81;
}

.bottom:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #60b8d4;
}

.bottom:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background: #3745b5;
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #333;
}

.center input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}
