/*

COLORS
primary: #feb2f64
primary light : #ff3366;
primary dark : #ba265d;

grey light 1: #faf9f9;
grey light 2 : #f4f2f2;
grey light 3 : #f0eeee;
grey light 4 : #ccc;

gery dark 1: #333
grey dark 2 : #777
grey dark 3 : #999
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --card-color-1: #00C0EF;
  --card-color-2: #00A65A;
  --card-color-3: #DD4C39;
  --card-color-4: #F39C11;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

:root {
  --bg-color-body: #364f6b;
  --bg-color-sidebar: #3E5b7b;
  --bg-color-nav-items: #4C6783;
  --bg-color-card: #304863;
  --font-color-main: #43dde6;
  --font-color-sub: #ffffff;
  --font-color-sub-sub: #D1D3DC;
  --btn-color-main: #fc5185;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  min-height: 100vh;
}

.notices {
  display: flex;
  min-height: 6rem;
  font-size: 1.7rem;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.notices span {
  min-width: 20rem;
}

.logo {
  height: 3rem;
  margin-left: 1.75rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherits;
  background-color: var(--grey-light-1);
  width: 90%;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  margin-right: -2.75rem;
  border: none;
  transition: all 0.2s ease;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--grey-light-4);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--grey-light-5);
}

.search__input:focus + .search__btn {
  background-color: var(--grey-light-4);
}

.search__btn {
  border: none;
  background-color: var(--grey-light-1);
  cursor: pointer;
}

.search__btn:focus {
  outline: none;
}

.search__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--grey-dark-3);
}

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
}

.user-nav > * {
  padding: 0 1.5rem;
  cursor: pointer;
  height: 100%;
}

.user-nav > *:hover {
  background-color: var(--grey-light-4);
}

.user-nav__icon-box {
  display: flex;
  align-items: center;
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--grey-dark-1);
}

.user-nav__notification {
  background-color: var(--color-primary);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 55%;
  font-weight: 700;
  font-size: 1.1rem;
}

.user-nav__user {
  display: flex;
  align-items: center;
}

.user-nav__user-photo {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 100%;
}

.user-nav__user-name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--grey-dark-1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  margin-top: 3.5rem;
}

.nav__item {
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
  transition: transform 0.2s ease, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s, -webkit-transform 0.2s ease;
  background-color: var(--bg-color-body);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav__item:hover::before, .nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.nav__links:link, .nav__links:visited {
  position: relative;
  z-index: 9;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
}

.nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--grey-light-2);
  margin-right: 2rem;
}

.nav__text {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--grey-light-2);
}

.heading {
  display: block;
  color: var(--font-color-sub);
  padding: 3rem 0rem;
  font-weight: 800;
}

.heading__primary--main {
  font-size: 3rem;
}

.heading__primary--sub {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color-sub-sub);
}

.canvas {
  max-width: 45%;
  min-width: 40rem;
  min-height: 40rem;
  padding: 4.5rem;
  background-color: var(--bg-color-card);
  border-radius: 10px;
}

.myChart {
  max-width: 100%;
  min-width: 100%;
  max-height: 35rem;
  min-height: 35rem;
}

.container {
  height: 100vh;
  background-color: var(--grey-light-1);
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-sidebar);
}

.content {
  display: flex;
}

.content-wrapper {
  margin: 0rem 7rem;
}

.sidebar {
  background-color: var(--bg-color-sidebar);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: var(--bg-color-body);
  flex: 1;
  overflow: auto;
  height: 93.5vh;
}

.footer {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2rem;
}
