.btn {

    border: none;
    outline: none;
    transition: all 0.25s ease;
    box-shadow: var(--shadow-light);

    &:hover {
        transform: translateY(-3px);
        box-shadow: var(--shadow-dark);
        cursor: pointer;
    }

    &:active {
        transform: translateY(-1.5px);
        box-shadow: var(--shadow-dark-2);
    }

    &--main {
        padding: 1.25rem 4.5rem;
        background-color: #fff;
        color: var(--font-color-main);
        font-size: 2rem;
        font-weight: 600;
        font-family: inherit;
        letter-spacing: inherit;
        border-radius: 0.75rem;

        margin-top: 2rem;
    }

    &--sub {
        padding: 1.25rem 3rem;
        background-color: #ffffff;
        color: var(--grey-dark-2);
        font-size: 2rem;
        font-weight: 100;
        font-family: inherit;
        letter-spacing: inherit;
        border-radius: 10rem;
    }
}