.heading {
  display: block;
  &__primary {
    display: block;
    color: var(--font-color-primary);
    // text-align: center;
    line-height: 1.2;
    &--main {
      font-weight: 500;
      color: inherit;
      font-size: 3.75rem;
    }

    &--sub {
      // text-align: center;
      font-weight: 500;
      color: inherit;
      font-size: 2.4rem;
    }
  }
  &__secondary {
    display: block;
    height: 10%;
    font-weight: 900;

    &--main {
      font-size: 1.7rem;
      font-weight: 900;
      display: flex;
      // justify-content: stretch;
      align-items: center;
    }

    &--sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--font-color-secondary-sub);
    }

    &--sub-sub {
      display: block;
      font-size: 1.9rem;
      letter-spacing: 1.7;
      font-weight: 400;
      color: var(--font-color-secondary-sub-sub);
    }
  }
  &_main{
    font-size: 2.4rem;
    color: #29303b;
    font-weight: 600;
  }
  &_sub{
    font-size: 1.7rem;
    font-weight: 400;
    color: #505763;
  }
}
