.heading-container {
    position: absolute;
    @include margin-to-center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
}

.heading__primary {
    display: block;
    color: #fefefe;
    // text-align: center;

    &--main {
        font-size: 7rem;
        font-weight: 600;
    }

    &--sub {
        // text-align: center;
        font-size: 1.45rem;
    }
}

.heading__secondary {
    display: block;
    color: #172551;
    height: 10%;
    font-weight: 900;


    &--main {
        font-size: 6rem;
        font-weight: 900;
        display: flex;
        // justify-content: stretch;
        align-items: center;

    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        // color: var(--font-color-sub);
    }


    &--sub-sub {
        display: block;
        font-size: 2.25rem;
        letter-spacing: 1.7;
        font-weight: 400;
        color: var(--font-color-sub-sub);
    }
}