.section-nav {
    // min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12rem;
    position: relative;

    max-width: 120rem;
    margin: auto;
    // @include center-items; //this is a mixin or funtion that can be used only in sass

    position: relative;
    z-index: 9;
}

.nav {
    width: 450px;
    margin-right: 1rem;
    letter-spacing: 2;

    &__list {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 2rem;
        transition: all 0.25s ease;

        &-items {
            list-style: none;
            cursor: pointer;

            &:hover {
                transition: all 0.25s ease;
                transform: translateY(-3px);
            }

            &:hover .nav__links :not(:last-child) {
                border-bottom: 0.3rem var(--color-primary-dark) solid;
            }

            &:active {
                transform: translateY(-1.5px);
            }
        }
    }

    &__links {
        text-decoration: none;
        color: #ffffff;
        // text-transform: uppercase;
        // color: var(--grey-dark-1);

        &:hover {
            font-weight: 600;
            color: var(--grey-dark-1);
        }
    }

    &--4 {
        padding: 1.25rem 2.5rem;
        border: 0.1rem var(--grey-dark-2) solid;
        font-weight: 600;
        border-radius: 0.5rem;
        border: 1px solid #ffffff;

        // background-color: var(--color-primary-dark);
        color: #ffffff;
        // transition: all 0.25s ease;

        &:hover {
            // border-bottom: -0.3rem;
            color: #333;
            background-color: #fff;
            box-shadow: var(--shadow-dark);
        }

        &:active {
            box-shadow: var(--shadow-light);
        }
    }

    &__icon {
        height: 1.55rem;
        width: 1.55rem;
        margin-right: 3px;
        fill: #1a1a1d;
        // padding-top: 5px;
    }
}