.section-footer {
     width: 100%;
     border-top: 1px solid #dcdacb;
     margin-top: 20rem;
     //  display: flex;
     //  align-items: center;
}
.footer-container {
     min-height: 25rem;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     max-width: 120rem;
     margin: 0 auto;
     font-family: "Poppins", sans-serif;
     padding: 4rem 0.5rem;
     flex-wrap: wrap;

     .grid {
          ul {
               font-size: 1.3rem;
               li {
                    // line-height: 1.8rem;
                    padding: 0.3rem;
                    letter-spacing: 0;
                    color: #007791;
               }
               a {
                    color: #007791;
                    &:hover {
                         border-bottom: 1px solid #007791;
                    }
               }
          }
     }
}
.footer-form {
     width: 100%;
     display: flex;
     & > * {
          outline: none;
     }
}
.footer-input {
     padding: 1rem 1.35rem;
     font-size: 1.4rem;
}
.footer-btn {
     padding: 1rem 1.35rem;
     //  height: 100%;
     color: #fff;
     font-weight: 700;
     border: none;
     border-radius: 0;
     &:hover {
          cursor: pointer;
     }
}
.footer-icon {
     height: 3rem;
     fill: #007791;
     width: 3rem;
     margin-right: 0.25rem;
     &--gmail {
          height: 2rem;
          width: 2rem;
     }
     &--flag {
          height: 2rem;
          width: 2rem;
     }
     //  &--facebook {
     //       fill: #3b5998;
     //  }
     //  &--google {
     //       fill: #db4a39;
     //  }
     //  &--twitter {
     //       fill: #1da1f2;
     //  }
}
.copyrights {
     width: 100%;
     border-top: 1px solid #dcdacb;
     padding: 0.75rem 0.5rem 1.5rem 0.5rem;
     &-container {
          width: 120rem;
          margin: auto;
          padding: 1rem 0.5rem;
          letter-spacing: 0.2;
          font-size: 1.1rem;
          display: flex;
          justify-content: space-between;
     }
     .grid-1 {
          display: flex;
          width: 70%;
          justify-content: space-between;
          color: var(--font-color-secondary-sub);
     }
     a {
          //   color: red;
          font-weight: 500;
          padding: 0.2rem 1.25rem;
          &:hover {
               padding: 0.2rem 1.25rem;
               border-bottom: 1px solid #dcdacb;
          }
          &:not(:last-child) {
               border-right: 1px solid #dcdacb;
          }
     }
}
.contact-row {
     display: flex;
     // justify-content: center;
     align-items: center;
}
