.section-checkout{
    margin:2rem 0 2rem 0;
}
.checkout-container{
    max-width: 120rem;
    margin:auto;
    // border: 1px solid #dcdacb;
    height: 70vh;
    // padding: 5rem;
  
    .row-2{
        display: flex;
    }
    .col-1{
        flex: 1 1 60%;
        // border: 1px solid #dcdacb;
    }
    .col-2{
        min-width:30%;
        flex:1 1 auto;
        border: 1px solid #dcdacb;
        box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
        padding:2.4rem;
        font-size:2.4rem;
        font-weight: 600;
    }
    .heading-summary{
        padding-bottom:1.6rem;
    }
    .item-wrap{
        position: relative;
        border: 1px solid #dcdacb;
        border-radius: 3px;
        padding:1rem;
        display: flex;
        max-height: 9rem;
        min-height: 1rem;
    }
    .item-details{
        // align-self: center;

    }
    .item{
        &-product{
            &-name{
                font-size: 1.4rem;
                font-weight: 600;
                margin-left: 2rem;
                display: block;
            }
            &-price{
                margin-left: 2rem;
                font-size: 1.5rem;
                font-weight: 700;
                color:#007791;
            }
            &-category{
                margin-left: 1rem;
                font-size: 1rem;
                color: #686f7a;
            }
            &-empty{
                color:var(--font-color-secondary-sub);
                font-size: 1.6rem;
                // font-size:1.2rem;
                // font-weight: 600;
                // margin-top: 0;
            }
           
        }
        &-icon-remove{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5%;  
            border: none;
            // background-color: #efefef;
            float: right;
            outline: none;
            height: 3rem;
            width: 3rem;
            &:hover {
                 cursor: pointer;
                 & > * {
                      transform: scale(1.1);
                 }
            }

        }
    }
}
