.section-features {
    // height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 7rem 0rem;
    // margin-top: 10rem;
    // background-color: var(--color-features-bg);
    // flex: 0 0 100%;
}