.section-nav {
    // min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7.5rem;
    position: relative;

    max-width: 120rem;
    margin: 0 auto;
}

.nav {
    width: 350px;
    margin-right: 1rem;

    &__list {
        display: flex;
        // flex: 0 0 30%;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1.65rem;
        transition: all 0.25s ease;

        &-items {
            list-style: none;
            cursor: pointer;

            &:hover {
                transition: all 0.25s ease;
                transform: translateY(-3px);
            }

            &:hover .nav__links :not(:last-child) {
                border-bottom: 0.3rem var(--color-primary-dark) solid;
            }

            &:active {
                transform: translateY(-1.5px);
            }
        }
    }

    &__links {
        text-decoration: none;
        color: var(--grey-dark-1);

        &:hover {
            font-weight: 600;
            color: var(--grey-dark-1);
        }
    }

    &--4 {
        padding: 0.75rem 1rem;
        border: 0.1rem var(--grey-dark-2) solid;
        font-weight: 600;
        border-radius: 0.5rem;
        background-color: var(--color-primary-dark);
        color: #fff;
        transition: all 0.25s ease;

        &:hover {
            // border-bottom: -0.3rem;
            color: #fff;
            box-shadow: var(--shadow-dark);
        }

        &:active {
            box-shadow: var(--shadow-light);
        }
    }

    &__icon {
        height: 1.4rem;
        width: 1.4rem;
        fill: var(--color-primary-dark);
        // padding-top: 5px;
    }
}