//margin-top-small
.u-mgn-tp-sm {
	margin-top: 1.75rem;
}

.u-mgn-tp-mid {
	margin-top: 4rem;
}

.u-justify-flex-end {
	display: flex;
	justify-content: space-between;
}

.u-color-light {
	color: var(--grey-dark-2);
}

.display-none {
	display: none;
}